body {
    background-color: #FFFFE6;
}
h1 {
    color:#FF00FF;
}

p {
    color:black;
}
textarea {
  width: 100%;
  height: 200px;
  padding: 0.5em 0.5em;
  font-size: 1.2em;
  border-radius: 3px;
  border: 1px solid #D9D9D9;
}